/* .formRegister{
    margin-top: 2.5rem;
}

label {
    color: #ffff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
}

input {
    width: 19.5rem;
    height: 2.4rem;
    border-radius: 5px;
    border: solid 1px #5E5E5E;
    margin: 0.7rem 0 0.7rem 0;
    background-color: #1e1e1e;
} */

