<section class="containerRegister">
  <div class="containerRegisterElements">
    <div class="text-center">
      <h1>
        <span>
          <img src="../../../assets/image/Vector (2).png" alt="block de notas "
        /></span>
        Note me
      </h1>
    </div>

    <div class="text-center">
      <h3>Únete para <br />recordarlo todo</h3>
    </div>

    <form action="" class="formRegister">
      <label for="idRegisterName" class="block"
        >Nombre Completo</label>
        <input
          id="idRegisterName"
          type="text"
          placeholder=" Nombre Apellido"
          required
        />
     

      <label for="idRegisterEmail" class="block"
        >Dirección de correo electrónico</label>
        <input
          id="idRegisterEmail"
          type="text"
          placeholder=" Correo electrónico"
          required
        />
     

      <label for="idRegisterPassword" class="block"
        >Crear una contraseña</label>
        <input
          id="idRegisterPassword"
          type="text"
          placeholder=" Mínimo de 8 caracteres"
          required
        />
     

      <button id="idRegisterBnt" type="submit" class="block">Unirse</button>
    </form>
  </div>
  <!-- fin containerRegisterElements -->
</section>
