<section class="containerRegister">
  <div class="containerRegisterElements">
    <div class="text-center">
      <h1>
        <span>
          <img src="../../../assets/image/Vector (2).png" alt="block de notas "
        /></span>
        Note me
      </h1>
    </div>

    <div class="text-center">
      <h3>Únete para <br />recordarlo todo</h3>
    </div>

    <form
      [formGroup]="signUpForm"
      (ngSubmit)="onSubmit()"
      action=""
      class="formRegister"
    >
      <!--(submit)="register($event)" -->
      <label for="idRegisterName" class="block">Nombre Completo</label>
      <input
        id="idRegisterName"
        type="text"
        placeholder=" Nombre Apellido"
        required
        #RegisterName
        formControlName="name"
      />

      <label for="idRegisterEmail" class="block"
        >Dirección de correo electrónico</label
      >
      <input
        id="idRegisterEmail"
        type="email"
        placeholder=" Correo electrónico"
        required
        #RegisterEmail
        formControlName="email"
      />

      <label for="idRegisterPassword" class="block">Crear una contraseña</label>
      <input
        id="idRegisterPassword"
        type="password"
        placeholder=" Mínimo de 8 caracteres"
        required
        formControlName="password"
      />

      <button
        id="idRegisterBnt"
        type="submit"
        [disabled]="!signUpForm.valid"
        class="block"
      >
        Unirse
      </button>
    </form>
  </div>
  <!-- fin containerRegisterElements -->

  <!-- incio modal

  <div>

  </div> -->

</section>
