<p>welcome works!</p>

<section class="containerWelcome">
   <div class="containerWelcomeElements">

    <div class="text-center">
        <h1> <span> <img src="../../../assets/image/Vector (2).png" alt="block de notas "></span>  Note me</h1>
    </div>

   <div class="text-center"> 
    <h3>Inicia sesión para 
    <br>recordarlo todo</h3>
    </div>

     <div>
         <button id="btnGoogle"> <span><img src="../../../assets/image/google.png" alt="imagen G de Google"> </span>  Ingresa con Google</button>
     </div>
     <div>
         <button id="btnMail"> <span> <img src="../../../assets/image/mail.png" alt="imagen de correo"></span>  Ingresa con E-mail</button>
     </div>
 
     <div class="flex-row">
         <p>¿Eres nuevo?</p>
         <span> Regístrate aquí</span>
     </div>
   </div>
</section>