.newUser {
  text-align: center;
  justify-content: center;
}
.newUser > a {
  margin-left: 1rem;
  text-decoration: none;
}

/* #btnGoogle {
    background-color: #E24A45;
    color: #FFFFFF;
}
 
#btnMail {
    background-color: #FFFFFF;
    color: #006764;
    border: 2px solid #006764;
} */
