<section class="containerWelcome">
  <div class="containerWelcomeElements">
    <div class="text-center">
      <h1>
        <span>
          <img src="../../../assets/image/Vector (2).png" alt="block de notas "
        /></span>
        Note me
      </h1>
    </div>

    <div class="text-center">
      <h3>Inicia sesión para <br />recordarlo todo</h3>
    </div>

    <div class="padding-top">
      <button (click)="LoginWithGoogle()" type="button" id="btnGoogle" class="space-around">
        <div class="flex-row space-around">
          <span class="padding-top"
            ><img
              src="../../../assets/image/google.png"
              alt="imagen G de Google"
            />
          </span>
          <div class="padding-top">Ingresa con Google</div>
        </div>
      </button>
    </div>

    <div class="padding-top">
      <button (click)="changeViewLogin()" class="space-around"> 
        <div class="flex-row space-around">
          <span class="padding-top"
            ><img
              src="../../../assets/image/mail.png"
              alt="imagen G de Google"
            />
          </span>
          <div class="padding-top">Ingresa con E-mail</div>
        </div>
      </button>
    </div>

    <div class="newUser flex-row  margin-top ">
      <p>¿Eres nuevo?</p>
      <a href="/register">Regístrate aquí</a>
    </div>
  </div>
</section>
