.containerMain {
  display: flex;
  height: 100vh;
}

.asideContainerMain {
  width: 9%;
  background-color: #171717;
  padding: 2.5rem;
}

.containerElementsMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ** */
.sectionContainerMain {
  padding: 2.8rem;
}

