<section class="containerLogin">
    <div class="containerLoginElements">
      <div class="text-center">
        <h1>
          <span>
            <img src="../../../assets/image/Vector (2).png" alt="block de notas "
          /></span>
          Note me
        </h1>
      </div>
  
      <div class="text-center">
        <h3>Inicia sesión para <br/>recordarlo todo</h3>
      </div>
  
      <form action="" class="formRegister">
     
        <label for="idLoginEmail" class="block"
          >Dirección de correo electrónico</label>
          <input
            id="idLoginEmail"
            type="text"
            placeholder="Correo electrónico"
            required
          />
       
        <label for="idLoginPassword" class="block"
          >Contraseña</label>
          <input
            id="idLoginPassword"
            type="text"
            placeholder=" ********"
            required
          />
       
  
        <button id="idLoginBnt" type="submit" class="block">Ingresar</button>
      </form>
    </div>
    <!-- fin containerRegisterElements -->
  </section>
  